apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: hospital-monitoring
data:
  datasources.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service:9090
        isDefault: true
        editable: true

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards-config
  namespace: hospital-monitoring
data:
  dashboards.yml: |
    apiVersion: 1
    providers:
      - name: 'Hospital Dashboards'
        orgId: 1
        folder: 'Hospital System'
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: true
        options:
          path: /etc/grafana/provisioning/dashboards
